@model IEnumerable<Financa.Models.Investimento>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/site.css" />
<h1>Index</h1>

<div>
    Carregar investimentos de uma planilha Excel
</div>


<form enctype="multipart/form-data" method="post" asp-action="InsereViaExcel">
    <dl>
        <dd>
            @Html.TextBox("file", "", new { type = "file" })
        </dd>
    </dl>
    <input class="btn btn-primary" type="submit" value="Enviar" />
</form>
<br />
<p>
    <a asp-action="Create">Create New</a>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Corretora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecoCompra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Acao.Bid)
            </th>
            <th>
                Valor Total (Atual)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Corretora.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Empresa.Ticker)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Data)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tipo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantidade)
                </td>
                <td>
                    @{string parameterValue = @Html.FormatValue(item.PrecoCompra, "{0:C}");}
                    @Html.DisplayFor(modelItem => parameterValue)
                </td>
                <td class="@(item.Acao.RegularMarketChangePercent > 0 ? "success" : "danger")">
                    @{ parameterValue = @Html.FormatValue(item.Acao.Bid, "{0:C}");
                        parameterValue += " (" + item.Acao.RegularMarketChangePercent.ToString("n2") + "%)";}
                    @Html.DisplayFor(modelItem => parameterValue);
                </td>
                <td>
                    @{
                        parameterValue = (item.Acao.Bid * item.Quantidade).ToString("C");
                    }
                    @Html.DisplayFor(modelItem => parameterValue)

                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


